body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-image: url("https://fbi.cults3d.com/uploaders/41050705/illustration-file/ad5c379c-2807-49fb-ab36-e139e2cfec26/br-br-patapim.jpg")
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 300px)/*300px 300px 300px*/;
    /*grid-template-columns establece la cantidad de columnas que va a tener la grilla*/
    grid-auto-rows: auto;
    /*grid-auto-rows establece automaticamente el tamaño de las filas*/
    gap: 10px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    cursor: pointer; /*cursor pointer cambia el cursor por una mano*/
}

.mew {
    background-color: rgb(252, 165, 179);
}

.mewtwo {
    background-color: gray;
}

.pikachu {
    background-color: yellow;
}

.card img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

/* media query indica que cuando se llegue a ese tamaño o menos las clases
que esten dentro de las llaves van a cambiar a lo que digan*/

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}